* {
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.body-carrousell {
    background-color: #fff;
    color: #fff;

}

.contenido{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.carrousell{
    height: 100%;   
}
.card-carrousell{
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}
.card-carrousell1{
    background: linear-gradient(-229deg, #FBD52D, #EF3A7B);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}

.card-carrousell2{
    background: linear-gradient(-229deg, #FF70AF, #5FA8F5);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}

.card-carrousell3{
    background: linear-gradient(-229deg, #0cebeb, #29ffc6);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}



.card-carrousell4{
    background: linear-gradient(-229deg, #88F7F9, #048FFF);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}

.card-carrousell5{
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}

.card-carrousell6{
    background: linear-gradient(-229deg, #cf91ff, #5782F5);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}


.card-carrousell7{
    background: linear-gradient(-229deg, #642B73, #C6426E);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    min-height: 315px;
    min-width: 400px;
    margin: 25px 0;
    width: 100%;
}


.card-carrousell .content {
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 700px) {
.card-carrousell {
    width: 45%;
}
}
@media screen and (max-width: 500px) {
.card-carrousell {
    width: 90%;
}
}
.card-carrousell .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.card-carrousell img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


.card-carrousell .content {
    z-index: 6;
    visibility: hidden;
}
.card-carrousell:hover .content {
    animation: show .3s .4s linear forwards;
}
.card-carrousell .content button {
    padding: .5rem 1.2rem;
    border: 3px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
}
.card-carrousell .content button:hover {
    background: #FFF;
    color: #333;
}

@keyframes show {
    to {
        visibility: visible;
    }
}
